{% extends "layout.html" %}

{% block title %}
    Amounts
{% endblock %}

{% block main %}
    <div class="table-container">
        <div class="item-left border border-info p-3 me-5">
            <p>Enter amounts for each ingredient here. Don't forget to include the unit of measurement for each as they are quite possibly different!</p>
            <p>Feel free to use metric or imperial, your cocktails will be displayed exactly as you input them. Metric option for included cocktails is coming soon.</p>
        </div>
        <div class="form-group mb-3">
            <form action="/amounts" class="table-item-center" method="post">
                <table style="width:1000px">
                        <thead>
                        <tr>
                            <th style="width:300px">Ingredient</th>
                            <th>Amount (with units)</th>
                        </tr> 
                        </thead>
                        {% for ingredient in ingredients %}
                            <tr>
                                <td>{{ ingredient }}</td>
                                <td><input class="form-control" type="text" id="amount_{{ ingredient }}" name="amount_{{ ingredient }}" placeholder="1.5 oz | 2 dashes | 1 1/2 teaspoons" style="width: 350px;"></td>
                            </tr>
                        {% endfor %}
                    </table>
                <input type="hidden" name="cocktail_id" value="{{ cocktail_id }}">
                <div class="mb-3 text-center">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
