{% extends "layout.html" %}

{% block title %}
    Manage Ingredients
{% endblock %}

{% block main %}
    <div class="center mb-5 border border-info p-3">
        <p>Here you can update your inventory of the ingredients in your personal database. Once you've made all the changes you wish, click the update button at the bottom of the page to save your changes!</p>
    </div>


    <form action="/manageingredients" method="post">
        <div class="table-group mb-3">    
        {% for type in types %}
            <div class="no-break">
                <h4>{{ type.type }}</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="left-text">Ingredient</th>
                            <th class="right-text">Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in ingredients %}
                            <tr>
                                {% if ingredient.type == type.type %}
                                    <td class="left-text">{{ ingredient.name }}</td>
                                    {% if ingredient.stock == "on" %}
                                    <td class="right-text">
                                        <input type="checkbox" id="stock_{{ ingredient.name }}" name="stock_{{ ingredient.name }}" checked>
                                        <input type="hidden" id="id_{{ ingredient.name }}" name="id_{{ ingredient.name }}" value="{{ ingredient['ingredient_id'] }}">
                                        <input type="hidden" id="src_{{ ingredient.name }}" name="src_{{ ingredient.name }}" value="{{ ingredient.source }}">
                                    </td>
                                    {% else %}
                                    <td class="right-text">
                                        <input type="checkbox" id="stock_{{ ingredient.name }}" name="stock_{{ ingredient.name }}" unchecked>
                                        <input type="hidden" id="id_{{ ingredient.name }}" name="id_{{ ingredient.name }}" value="{{ ingredient['ingredient_id'] }}">
                                        <input type="hidden" id="src_{{ ingredient.name }}" name="src_{{ ingredient.name }}" value="{{ ingredient.source }}">
                                    </td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Update</button>
        </div>

    </form>
{% endblock %}
