{% extends "layout.html" %}

{% block title %}
    Add Cocktail
{% endblock %}

{% block main %}
    <h1 class="text-center mb-5">Add Cocktail</h1>
    <div class="center text-center explainer p-3 mb-5">
        <p>Add a new recipe to your database.</p>
    </div>
    <div class="container">
        <!-- Add cocktail form -->
        <form id="amountsForm" class="item-center center-form" method="post">
                <!-- name field -->
            <div class="form-group mb-3">
                <label for="name" class="form-label">Cocktail Name</label>
                <input autocomplete="off" autofocus class="form-control" id="name" name="name" placeholder="Name" type="text">
            </div>
                <!--ingredients list -->
            <div class="mb-3 form-group">
                <label for="q0" class="form-label">Ingredients</label>
                <ol id="dynamicSelects">
                    <!-- first ingredient -->
                    <li>
                        <input id="q0" type="text" class="form-control ingredientsmenu mb-3" placeholder="Type to search" name="q" hx-get="/ingredientsearch" hx-trigger="keyup changed delay:300ms" hx-target="#results">
                    </li>
                </ol>
                <!-- ingredient search table -->
                <table id ="searchtable" class="table table-borderless table-hover">
                    <tbody id="results">
                </table>
            </div>
            <!-- Create new ingredient button -->
            <div class="mb-3 text-center">
                <button class="btn btn-primary btn-sm" id="new_ingredient" hx-get="/addingredientmodal" hx-target="#ingredientModal" hx-trigger="click" type="button" data-bs-toggle="modal" data-bs-target="#ingredientModal">Create New Ingredient</button>
            </div>
            <!-- Build instructions field -->
            <div class="form-group mb-3">
                <label for="build" class="form-label">Build Instructions</label>
                <textarea autocomplete="off" class="form-control" id="build" name="build" placeholder="Build instructions/garnish/other notes. Don't worry about amounts for now, we'll cover that in the next step." rows="4"></textarea>
            </div>
            <!-- Source field -->
            <div class="form-group mb-3">
                <label for="source" class="form-label">Source</label>
                <input autocomplete="off" class="form-control" id="source" name="source" placeholder="Source" type="text">
            </div>
            <!-- family field -->
            <div class="mb-3 form-group">
                <label for="family" class="form-label">Cocktail Family <i class="fa-solid fa-circle-info" data-bs-toggle="modal" data-bs-target="#familyModal"></i></label>
                <select name="family" class="form-select" id="family">
                    <option value="" disabled selected>--Family--</option>
                    <option value="Old Fashioneds">Old Fashioneds</option>
                    <option value="Sours">Sours</option>
                    <option value="Vermouth Cocktails">Vermouth Cocktails</option>
                    <option value="Amaro Cocktails">Amaro Cocktails</option>
                    <option value="Duos and Trios">Duos and Trios</option>
                    <option value="Champagne Cocktails">Champagne Cocktails</option>
                    <option value="Highballs">Highballs</option>
                    <option value="Juleps and Smashes">Juleps and Smashes</option>
                    <option value="Hot Drinks">Hot Drinks</option>
                    <option value="Flips and Nogs">Flips and Nogs</option>
                    <option value="Tiki Cocktails">Tiki Cocktails</option>
                    <option value="Punches">Punches</option>
                    <option value="Orphans">Orphans</option>
                </select>
            </div>
            <!-- Submit button / open amounts modal -->
            <div class="mb-3 text-center">
                <button hx-post="/addcocktail" hx-target="#amounts-body" class="btn btn-primary" id='amounts-open' data-bs-toggle="modal" data-bs-target="#amountsModal" type="button">Add Cocktail</button>
            </div>
        </form>
    </div>


    <!-- Modal for adding ingredient -->
    <div class="modal fade" id="ingredientModal" tabindex="-1" aria-labelledby="ingredientModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="modal-form"></div>
        </div>
    </div>

    <!-- Amounts Modal -->
    <div class="modal fade" id="amountsModal" tabindex="-1" aria-labelledby="amountsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h5 class="modal-title w-100" id="amountsModalLabel">Amounts</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="amounts-body"></div>
            </div>
          </div>
        </div>
    </div>

    <!-- Family modal -->
    <div class="modal fade" id="familyModal" tabindex="-1" aria-labelledby="familyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Cocktail Family</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>The type of cocktail.</p>
                <p><span class="blue">Old Fashioneds: </span>The original cocktail. Spirit, sugar, and water.</p>
                <p><span class="blue">Sours: </span>e.g. Gimlet, Margarita. They usually contain a sour element like lemon juice balanced by sugar.</p>
                <p><span class="blue">Vermouth Cocktails: </span>Cocktails like Americanos that use vermouth prominently.</p>
                <p><span class="blue">Amaro Cocktails: </span>Drinks like Negronis that feature Amari.</p>
                <p><span class="blue">Duos and Trios: </span>Spirit and Mixer combos (think Rusty Nail). Add cream to make it a trio (White Russian).</p>
                <p><span class="blue">Champagne Cocktails: </span>For something fizzy and festive, throw in some Champagne!</p>
                <p><span class="blue">Highballs: </span>Longer drinks with a higher percentage of non-alcoholic mixers.</p>
                <p><span class="blue">Juleps and Smashes: </span>Spirit forward and served over crushed ice, often with mint and/or extra fruit.</p>
                <p><span class="blue">Hot Drinks: </span>Your Irish Coffees and Hot Toddies.</p>
                <p><span class="blue">Flips and Nogs: </span>If it has a whole egg in it, it probably belongs here.</p>
                <p><span class="blue">Tiki Cocktails: </span>You know it when you see it. It probably comes in a fun mug. </p>
                <p><span class="blue">Punches: </span>Spirit, juice, sugar, spice water. Great for a party!</p>
                <p><span class="blue">Orphans: </span>Creations that don't fit into a mold.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    
{% endblock %}
{% block javascript %}
<script>
    // create new input search fields on table click
    function createNewDiv() {
        // get original input field
        var originalElement = document.getElementsByClassName("ingredientsmenu")[0];

        // create a new one
        var newDiv = document.createElement('li');

        // copy original population into new
        newDiv.innerHTML = originalElement.innerHTML;

        // newDiv.classList.add('mb-3', 'select')

        // add new div to dynamicSelects
        var hostdiv = document.getElementById('dynamicSelects');
        hostdiv.appendChild(newDiv);
    };

    // listen for table clicks and fill form/make readonly

    // counter variable for ids
    var counter = 1;
    
    document.getElementById('results').addEventListener('click', function(event) {

        // check if click is a cell
        if (event.target.tagName === "TD") {
 
            // copy original empty field
            var originalElement = document.querySelector("#dynamicSelects li:last-child");

            // create a new one
            var newDiv = document.createElement('li');

            // copy original population into new
            newDiv.innerHTML = originalElement.innerHTML.replace(/id="q\d+"/, 'id="q' + counter + '"');

            //increment counter
            counter++;

            // add new div to dynamicSelects
            var hostdiv = document.getElementById('dynamicSelects');
            hostdiv.appendChild(newDiv);
            
            // get content of clicked cell
            var cellval = event.target.textContent;

            // set old field to cellval
            var newInput = document.querySelector("#dynamicSelects li:last-child input")
            document.querySelector("#dynamicSelects li:nth-last-child(2) input").value = cellval;
            // make readonly
            document.querySelector("#dynamicSelects li:nth-last-child(2) input").setAttribute('readonly', 'true');
            // focus new field
            newInput.focus();

            // clear table
            var table = document.getElementById('results');
            table.innerHTML = '';

            htmx.process(newInput);

        }
    });
    
    function hideIngredientModal() {
        var myModalEl = document.getElementById('ingredientModal')
        var modal = bootstrap.Modal.getInstance(myModalEl)
        modal.hide()
        document.querySelector("#dynamicSelects li:last-child input").focus()
    };


</script>
{% endblock %}
