{% extends "layout.html" %}

{% block title %}
    Add Ingredient
{% endblock %}

{% block main %}
    <h1 class="text-center mb-5">Add Ingredient</h1>
    <div class="center text-center explainer p-3 mb-5">
        <p>Add a new ingredient to your list of ingredients.</p>
    </div>
    <!-- not sure/layout -->
    <div class="container">
        <form action="/addingredient" class="item-center center-form" method="post">
            <div class="form-group mb-3">
                <label for="ingredientname" class="form-label">Ingredient Name</label>
                <input autocomplete="off" autofocus class="form-control" id="ingredientname" name="ingredientname" placeholder="Name" type="text" required>
            </div>
            <div class="form-group mb-3">
                <label for="short-name" class="form-label">Simplified Name (optional) <i class="fa-solid fa-circle-info" data-bs-toggle="modal" data-bs-target="#simpleModal"></i></label>
                <input autocomplete="off" autofocus class="form-control" id="short-name" name="short-name" placeholder="Simplified name" type="text">
            </div>
            <div class="form-group mb-3">
                <label for="type" class="form-label">Ingredient Type</label>
                <select name="type" id="type" class="form-select" required>
                    <option value="" disabled selected>--Ingredient Type--</option>
                    <option value="Spirit">Spirit</option>
                    <option value="Liqueur">Liqueur</option>
                    <option value="Liqueur">Amaro</option>
                    <option value="Wine/Vermouth/Sherry">Wine/Vermouth/Sherry</option>
                    <option value="Bitters">Bitters</option>
                    <option value="Syrup">Syrup</option>
                    <option value="Juice">Juice</option>
                    <option value="Pantry/Fridge">Pantry/Fridge</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="notes" class="form-label">Notes</label>
                <textarea autocomplete="off" class="form-control" id="notes" name="notes" placeholder="Recipe if homemade, etc..." rows="4"></textarea>    
            </div>
            <div class="mb-3 text-center form-check">
                <label for="stock">In Stock:</label>
                <input id="stock" name="stock" type="checkbox">
            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-primary" type="submit">Add Ingredient</button>
            </div>
        </form>
    </div>


    <!-- Simplified name modal -->
  <div class="modal fade" id="simpleModal" tabindex="-1" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Simplified Name</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>A shortened name that will appear when extra information is not necessary, such as in the ingredient summaries in "What's to drink?"</p>
          <p>Here we see the Simplified Names in the header and the full Names in the description:</p>
          <img class="center" src="/static/example1.png" alt="Example screenshot" style="width:600px;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}