<form action="modify_ingredient" method="POST" class="text-center">
    <p class="mb-3">
        This action cannot be undone. Are you sure you want to delete {{ ingredient }}?
    </p>
    <input type="hidden" name="ingredient_delete" value="{{ ingredient }}">
    <button name="deleteconfirmed" onclick="RemoveBackdrop()" class="btn btn-danger mb-3">DELETE</button>
    <button name="cancel" onclick="RemoveBackdrop()" class="btn btn-primary mb-3">Cancel</button>
</form>
<script>
   function RemoveBackdrop() {

        // Remove modal backdrop
        $('.modal-backdrop').remove();
        $('#viewModal').modal('hide');
        $('body').removeClass('modal-open');
    }
</script>