{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="text-center mb-5">
  <h1>Welcome to What's to Drink?</h1>
</div>
<div class="container text-center">
  <div class="row mb-5">
    <div class="col-sm">
      <h2 class="blue"><a href="/whatstodrink">What's to Drink?</a></h1>
    </div>
    <div class="col-sm">
      <h2 class="blue"><a href="/manageingredients">Manage Ingredients</a></h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm">
      <h2 class="blue"><a href="/missingone">What's Missing?</a></h1>
    </div>
    <div class="col-sm">
      <h2 class="blue"><a href="/addcocktail">Add Cocktail</a></h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm">
      <h2 class="blue"><a href="/viewcocktails">View/Edit Cocktails</a></h1>
    </div>
    <div class="col-sm">
      <h2 class="blue"><a href="/addingredient">Add Ingredient</a></h1>
    </div>
  </div>
</div>

  <div class="coffeebutton">
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="jacksonwilliams" data-color="#5F7FFF" data-emoji="🍸️"  data-font="Arial" data-text="Buy me a cocktail" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
  </div>
{% endblock %}
{% block javascript %}
{% endblock %}
