{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="text-center mb-5">
  <h1>Welcome to What's to Drink?!</h1>
</div>
<div class="text-center mb-3">
  <p>
    A cocktail recipe management application build to work how you want it to.
  </p>
</div>
<!-- Settings Pane -->
<div class="container text-center mt-5 mx-auto">
  <div class="row justify-content-center">
    <div class="col-sm homeitem" style="max-width:600px;">
      <h2 class="mb-3">Settings</h2>
      <form class="list-group">
        <label class="list-group-item form-switch" for="flexSwitchCheckChecked">Enable default cocktails:
          {% if defaults %}
            <input class="form-check-input float-end" name="cocktailswitch" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked hx-post="/" hx-trigger="click">
          {% else %}
            <input class="form-check-input float-end" name="cocktailswitch" type="checkbox" role="switch" id="flexSwitchCheckChecked" hx-post="/" hx-trigger="click">
          {% endif %}
        </label>
      </form>
    </div>
  </div>
  <!-- Link Boxes -->
  <div class="row justify-content-center">
    <div class="col-sm homeitem" style="max-width:600px;">
      <h2 class="blue mb-3"><a href="/about">About</a></h2>
      <p>
        See an overview of the site and how to use it.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm homeitem">
      <h2 class="blue mb-3"><a href="/whatstodrink">What's to Drink?</a></h1>
      <p>
        See every cocktail in your database that can be made with in-stock ingredients.
      </p>
    </div>
    <div class="col-sm homeitem">
      <h2 class="blue mb-3"><a href="/missingone">What's Missing?</a></h1>
        <p>See every cocktail in your database that could be made if you had just one more ingredient.</p>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm homeitem">
      <h2 class="blue mb-3"><a href="/manageingredients">Manage Ingredients</a></h1>
        <p>Set the stock of your ingredients, edit them, or add more.</p>
    </div>
    <div class="col-sm homeitem">
      <h2 class="blue mb-3"><a href="/viewcocktails">View/Edit Cocktails</a></h1>
      <p>See every cocktail in your database. Edit ones you've added.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm homeitem">
        <h2 class="blue mb-3"><a href="/addcocktail">Add Cocktail</a></h1>
        <p>Add a new recipe to your database.</p>

    </div>
    <div class="col-sm homeitem">
      <h2 class="blue mb-3"><a href="/addingredient">Add Ingredient</a></h1>
        <p>Add a new ingredient to your list of ingredients.</p>
    </div>
  </div>
</div>
<!-- Coffee Button (needs fixing on mobile)-->
<div class="coffeebutton">
  <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="jacksonwilliams" data-color="#5F7FFF" data-emoji="🍸️"  data-font="Arial" data-text="Buy me a cocktail" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}
