{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="center">
    <h2 class="center-text mb-5">Welcome to <span class="blue"><strong>What's to drink?</strong></span>!</h2>
      <div class="mb-3 p-3 border border-info">
        <p>Your account comes equipped with a selection of 41 classic cocktails and 140 common ingredients.</p>
        <p>To set which ingredients you have in stock, click on "<span class="blue">Manage Ingredients</span>" in the navigation bar.</p>
        <p>To add a new ingredient of your own, use "<span class="blue">Add Ingredient</span>", and to add a cocktail recipe, "<span class="blue">Add Cocktail</span>."</p>
        <p>Most importantly, clicking the "<span class="blue"><strong>What's to drink?</strong></span>" logo at the top of the screen will show you all the cocktails in your database that you can make with what you have on hand. For inspiration on what to pick up next, "<span class="blue">What's Missing</span>" will show you the cocktails you could make if you just had that last missing piece.</p>
        <p>Cheers!</p>
      </div>

  </div>
{% endblock %}
