{% extends "layout.html" %}

{% block title %}
    Manage Ingredients
{% endblock %}

{% block main %}
    <h1 class="text-center mb-5">Manage Ingredients</h1>
    <div class="center explainer mb-5 p-3">
        <p>Update your inventory of the ingredients in your database. Check or uncheck to change stock, then click the update button at the bottom of the page to save your changes.</p>
        <p>Click 'View' to view and modify ingredients you've added.</p>
    </div>
    <!-- Filter Bar -->
    <div class="container">
        <form class="item-center center-form form-group mb-3">
            <label for="search" class="form-label">Filter:</label>
            <div class="input-group mb-3">
                <input id="search" class="form-control" type="search" name="q" placeholder="Type to search" hx-get="/manageingredients" hx-target="#ingredientstable" hx-trigger="search, keyup changed delay:300ms" value="{{ request.args.get('q') or '' }}"/>
                <!-- Clear search button when a search has been entered -->
                {% if request.args.get('q') %}
                <a href="/manageingredients" type="button" class="btn btn-outline-primary">Clear Search</a>
                {% endif %}
            </div>
        </form>
        <div class="text-center">
            <button class="btn btn-primary mb-5" hx-get="/addingredientmodal2" hx-target="#ingredientModal" hx-trigger="click" type="button" data-bs-toggle="modal" data-bs-target="#ingredientModal">Add Ingredient</button>
        </div>
    </div>
    

    <form action="/manageingredients" id="ingredientstable" method="post">
        <div class="table-group text-center mb-3">    
        {% for type in types %}
            <div class="no-break">
                <h4>{{ type.type }}</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="left-text">Ingredient</th>
                            <th></th>
                            <th class="right-text">Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in ingredients %}
                        {% if ingredient.type == type.type %}
                            <tr>
                                <td class="left-text">{{ ingredient.name }}</td>
                                <td class="button-cell">
                                    {% if ingredient.source == 'user' %}
                                    <!-- button for calling modal -->
                                        <button class="btn btn-outline-primary viewbtn" hx-get="/viewingredientmodal" hx-target="#viewModal" hx-trigger="click" type="button" data-bs-toggle="modal" data-bs-target="#viewModal" onclick="populateModal('{{ ingredient.name }}', '{{ingredient.source}}', '{{ingredient.type}}', '{{ingredient.short_name}}', '{{ingredient.notes}}')">View</button>
                                    {% endif %}
                                </td>
                                {% if ingredient.stock == "on" %}
                                <td class="right-text">
                                    <input type="checkbox" id="stock_{{ ingredient.name }}" name="stock_{{ ingredient.name }}" checked>
                                    <input type="hidden" id="id_{{ ingredient.name }}" name="id_{{ ingredient.name }}" value="{{ ingredient['ingredient_id'] }}">
                                    <input type="hidden" id="src_{{ ingredient.name }}" name="src_{{ ingredient.name }}" value="{{ ingredient.source }}">
                                </td>
                                {% else %}
                                <td class="right-text">
                                    <input type="checkbox" id="stock_{{ ingredient.name }}" name="stock_{{ ingredient.name }}" unchecked>
                                    <input type="hidden" id="id_{{ ingredient.name }}" name="id_{{ ingredient.name }}" value="{{ ingredient['ingredient_id'] }}">
                                    <input type="hidden" id="src_{{ ingredient.name }}" name="src_{{ ingredient.name }}" value="{{ ingredient.source }}">
                                </td>
                                {% endif %}
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>

    <!-- Modal for view ingredient -->
    <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="modal-form"></div>
        </div>
    </div>

    <!-- Modal for add ingredient -->
    <div class="modal fade" id="ingredientModal" tabindex="-1" aria-labelledby="ingredientModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="modal-form"></div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
<script>
    function populateModal(ingredientName, ingredientSource, ingredientType, ingredientShort, ingredientNotes) {
        document.addEventListener('htmx:afterRequest', function(evt) {
            document.getElementById('viewModalLabel').textContent = ingredientName;
            document.getElementById('ingredientType').textContent = ingredientType;
            document.getElementById('ingredientShort').textContent = ingredientShort;
            document.getElementById('ingredientNotes').textContent = ingredientNotes;
            document.getElementById('name').value = ingredientName;
            document.getElementById('type').value = ingredientType;
            document.getElementById('short').value = ingredientShort;
            document.getElementById('notes').value = ingredientNotes;
        });
    };
    $('#viewModal').on('hide.bs.modal', function () {
        // Remove modal backdrop
        $('.modal-backdrop').remove();
    });
   

    </script>
{% endblock %}