{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" class="center-form" method="post">
        <div class="mb-3 form-group">
            <label for="username" class="form-label">Username</label>
            <input autocomplete="off" autofocus class="form-control mb-3" id="username" name="username" placeholder="Username" type="text">
            <label for="password" class="form-label">Create Password</label>
            <input class="form-control mb-3" id="password" name="password" placeholder="Password" type="password">
            <label for="confirmation" class="form-label">Confirm Password</label>
            <input class="form-control mb-3" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <div class="mb-3 text-center">  
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
        <div class="text-center">
            Already have an account? Login here:
            <br>
            <a href="/login" class="btn btn-info" role="button" style="margin-top:10px;">Login</a>
        </div>
    </form>
{% endblock %}
