{% extends "layout.html" %}

{% block title %}
    View Cocktails
{% endblock %}

{% block main %}
<h1 class="text-center mb-5">View/Edit Cocktails</h1>
<div class="center text-center border border-info p-3 mb-5">
    <p>View all cocktails in the database and edit your recipes.</p>
</div>
    <!-- TODO: make query for all cocktails -->
    <!-- imported from flask: cocktails, ingredients, amounts, families-->
    <div class="text-center">
        <div class="btn-group mb-4" id="buttons" role="group" aria-label="Button Group">
            <button hx-get="/viewuser" hx-target="#view" type="button" role="group" class="btn btn-outline-primary">My Cocktails</button>
            <a href="/viewcocktails"  type="button" role="group" class="btn btn-outline-primary active">All Cocktails</a>
            <button hx-get="/viewcommon" hx-target="#view" type="button" role="group" class="btn btn-outline-primary">Common Cocktails</button>
        </div>
    </div>
    <div id="view">
        {% for family in allfamilies %}
            <h3 class="mb-3 center text-center"><span class="blue">{{ family }}</span></h3>
            <div class="accordion mb-3" id="userlist">
                {% for cocktail in allcocktails %}
                    {% if cocktail.family == family %}
                        <div class="accordion-item center-accordion cocktail-group">
                            <h2 class="accordion-header" id="id_{{ loop.index0 }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{ loop.index0 }}" aria-expanded="false" aria-controls="Arr{{ loop.index0 }}">
                                    <span class ="left-text"><strong>{{ cocktail.name|title }}</strong></span>
                                    <span class="right-text d-none d-sm-block">
                                        {% set cocktail_ingredients = [] %}
                                        {% for ingredient in ingredients %}
                                            {% for amount in amounts %}
                                                {% if amount.cocktail_id == cocktail.id and amount.ingredient_id == ingredient.id %}
                                                    {% if ingredient.short_name %}
                                                        {% set _ = cocktail_ingredients.append(ingredient.short_name|title) %}
                                                    {% else %}
                                                        {% set _ = cocktail_ingredients.append(ingredient.name|title) %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        {{ cocktail_ingredients|join(', ') }}
                                    </span>
                                </button>
                            </h2>
                            <div id="Arr{{ loop.index0 }}" class="accordion-collapse collapse" aria-labelledby="{{ loop.index0 }}" data-bs-parent="#makeabledrinks">
                                <div class="accordion-body">
                                    <div class="container mb-3">
                                        <div class="row row-cols-auto mb-3">
                                            <div class="category col-3">Ingredients: </div>
                                            <div class="col-7">
                                                {% for amount in amounts %}
                                                    {% if amount.cocktail_id == cocktail.id %}
                                                        {{ amount.amount }}
                                                            {% for ingredient in ingredients %}
                                                                {% if ingredient.id == amount.ingredient_id %}
                                                                    {{ ingredient.name|capitalize }}
                                                                {% endif %}
                                                            {% endfor %}<br>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            {% if cocktail.csource == "user" %}
                                                <!-- button to call modal -->
                                                <div class="col ms-auto">
                                                    <button class="btn btn-outline-primary" type="button" hx-get="/modifycocktailmodal" hx-target="#modifyModal" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#modifyModal" onclick="populateModal('{{ cocktail.name }}')">Modify</button>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row row-cols-auto mb-3">
                                        <div class="category col-3">Build: </div>
                                        <div class="col-8">{{ cocktail.build }}</div>
                                    </div>
                                    <div class="row row-cols-auto mb-3">
                                        <div class="category col-3">Source: </div>
                                        <div class="col">{{ cocktail.source }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

<!-- Modal -->
<div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="modifyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modalform"></div>
    </div>
</div>

<script>
// change active class on click
var button_group = document.getElementById("buttons");
var btns = button_group.getElementsByClassName("btn");
// loop through buttons to assign active class
for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
    });
}

function populateModal(cocktailName) {
        document.addEventListener('htmx:afterRequest', function(evt) {
            document.getElementById('modifiedCocktailName').value = cocktailName;
        });
    };
</script>
    
{% endblock %}
 