{% for family in userfamilies %}
<h3 class="mb-3 center text-center"><span class="blue">{{ family }}</span></h3>
<div class="accordion mb-3" id="userlist">
    {% for cocktail in usercocktails %}
        {% if cocktail.family == family %}
            <div class="accordion-item center-wide cocktail-group">
                <h2 class="accordion-header" id="id_{{ loop.index0 }}"></h2>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{ loop.index0 }}" aria-expanded="false" aria-controls="Arr{{ loop.index0 }}">
                        <span class ="left-text"><strong>{{ cocktail.name|title }}</strong></span>
                        <span class="right-text">
                            {% set cocktail_ingredients = [] %}
                            {% for ingredient in ingredients %}
                                {% for amount in amounts %}
                                    {% if amount.cocktail_id == cocktail.id and amount.ingredient_id == ingredient.id %}
                                        {% if ingredient.short_name %}
                                            {% set _ = cocktail_ingredients.append(ingredient.short_name|title) %}
                                        {% else %}
                                            {% set _ = cocktail_ingredients.append(ingredient.name|title) %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {{ cocktail_ingredients|join(', ') }}
                        </span>
                    </button>
                <div id="Arr{{ loop.index0 }}" class="accordion-collapse collapse" aria-labelledby="{{ loop.index0 }}" data-bs-parent="#makeabledrinks">
                    <div class="accordion-body">
                        <div class="container mb-3">
                            <div class="row row-cols-auto mb-3">
                                <div class="category col-3">Ingredients: </div>
                                <div class="col-7">
                                    {% for amount in amounts %}
                                        {% if amount.cocktail_id == cocktail.id %}
                                            {{ amount.amount }}
                                                {% for ingredient in ingredients %}
                                                    {% if ingredient.id == amount.ingredient_id %}
                                                        {{ ingredient.name|capitalize }}
                                                    {% endif %}
                                                {% endfor %}<br>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <!-- button to call modal -->
                                <div class="col-1 text-end">
                                    <button class="btn btn-outline-primary" type="button" hx-get="/modifycocktailmodal" hx-target="#modifyModal" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#modifyModal" onclick="populateModal('{{ cocktail.name }}')">Modify</button>
                                </div>
                            </div>
                            <div class="row row-cols-auto mb-3">
                                <div class="category col-3">Build: </div>
                                <div class="col-8">{{ cocktail.build }}</div>
                            </div>
                            <div class="row row-cols-auto mb-3">
                                <div class="category col-3">Source: </div>
                                <div class="col">{{ cocktail.source }}</div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}

 <!-- Modal for modify cocktail -->
 <div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="modifyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modalform"></div>
    </div>
</div>



<script>
    function populateModal(cocktailName) {
        document.addEventListener('htmx:afterRequest', function(evt) {
            document.getElementById('modifiedCocktailName').value = cocktailName;
        });
    };
   
</script>
