{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div class="center-accordion">
    <div class="text-center mb-5">
        <h1>About</h1>
    </div>
    <div>

        <h2 class="mb-4">So what is this for?</h3>

        <p><span class="blue"><strong>What's to Drink?</strong></span> is a recipe and ingredient management app. Use it to keep track of the recipes you care about and show you what you can make with what you have.</p>
        <p>
            This site is not meant for discovering new recipes, it's meant for storing ones you already like. 
            I don't like most recipes I find on the internet, and I don't want to see them as options when I'm deciding what I want to make next. Also, since these all YOUR recipes, every ingredient that goes in them is up to you,
            so each one can be as specific or as general as you wish for that particular recipe.
            There is a short list of classic cocktails included to get you started, but you can disable them whenever you want.
        </p>

        <h2 class="mb-4">How do I use it?</h2>

            <h3 class="blue mb-3" id="manage">Home</h3>

                <p>
                    On the homepage are links to the other pages of the site. 
                </p>

            <h3 class="blue mb-3" id="manage">Manage Ingredients</h3>

                <p>
                    Here you can select the ingredients that you have on hand. Checked ingredients are saved as "in stock" and this is used to show you the cocktails you can make in <span class="blue">What's to Drink?</span>.
                    Any changes will be saved automatically.
                    You can use the filter bar by typing into it to limit the results if you're looking for something specific, and if what you need isn't already in the list, click "<strong>Add Ingredient</strong>" to create a new one.
                    More about that <a href="#addIngredient">later</a>. Be as specific or as general as you prefer with these ingredients. If you have varying levels of specificity for different cocktails it may be a good idea
                    to have "Whiskey" and "Bonded Bourbon" as two separate ingredients and to check them off depending on your needs.
                </p>
                <p>
                    For ingredients that you've added, "<strong>View</strong>" will open a popup that shows more information about that ingredient. From there, "<strong>Modify Ingredient</strong>" will let you rename it or otherwise
                    change anything about it that you wish, including deleting it entirely.
                </p>
            
            <h3 class="blue mb-3" id="whatstodrink">What's to Drink?</h3>

                <p>
                    Here you'll see all of the cocktails in your database that you can make with the ingredients you have "in stock." This uses the information you've saved in <a href="manage">Manage Ingredients</a> to generate the list.
                    For ease of reference the recipe windows are loaded collapsed, only showing an overview of the ingredients. Click the dropdown header to reveal the recipe. These results are grouped by cocktail family by default.
                </p>
            
            <h3 class="blue mb-3" id="whatsmissing">What's Missing?</h3>

                <p>
                    This page shows you all the cocktails in your database that could be made with one more ingredient. You can use this page for inspiration on what bottle to pick up next, or maybe to see cocktails you actually
                    can make, you just might have one ingredient in stock that you missed. The results here are grouped by the ingredient that's missing.
                </p>
            
            <h3 class="blue mb-3" id="viewcocktails">View/Edit Cocktails</h3>

                <p>
                    Here you can see a list of every cocktail in your database, whether you can make it or not. When a recipe of yours is revealed on this page, there will be a "<strong>Modify</strong>" button, which allows you to change
                    anything about the recipe, or even delete it entirely. The red removal icon will delete that ingredient from the recipe
                    completely, and "<strong>More Ingredients</strong>" will let you add another ingredient. "<strong>Submit Changes</strong>" will save all of the modifications you've made.
                </p>

            <h3 class="blue mb-3" id="addIngredient">Add Ingredient</h3>

                <p>
                    This page lets you add a new ingredient to the ingredient list used throughout the site. You can also do this in <a href="#manage">Manage Ingredients</a> and <a href="#addCocktail">Add Cocktail</a>, but if you have several 
                    ingredients to add at once, it may be easier to do here as the page reloads ready to add another when "<strong>Add Ingredient</strong>" is clicked. Use the notes field for whatever you wish, but it is especially
                    useful for saving the recipe for homemade ingredients you may need to recreate later.
                </p>

            <h3 class="blue mb-3" id="addCocktail">Add Cocktail</h3>

                <p>
                    This is where you add new recipes to your database. To add an ingredient to the recipe, start typing in the Ingredient search box and ingredients in your ingredients list that match your search will appear below.
                    Click the one you want and a new ingredient search box will appear ready to add another ingredient. If what you need isn't already in your database, "<strong>Create New Ingredient</strong>" will allow you to add it
                    without leaving the page or reloading what you've already entered. Once created, it will automatically appear in the cocktail. Once an ingredient has been added, you will see a remove ingredient icon as well as a drag
                    handle to let you reorder the ingredients should you desire. Ingredients will appear in the recipe tabs in the order input during creation. This can also be changed later.
                </p>
                <p>
                    Don't forget to add the unit of measurement for each amount, or you risk being very confused later. The app doesn't force any particular units of measurement, it allows you to use what you prefer. This avoids
                    the need for awkward translations like "1.5 ounces to 44.36 ml".
                </p>
                <p>
                    Once you're satisfied, the "<strong>Submit</strong>" button will save the recipe to your database.
                </p>

            <h3 class="blue mb-3" id="account">Account</h3>

                <p>
                    This is the account options page. There's not currently a lot there, but there is the Settings pane. Here you can select whether you want the list of default cocktails to appear in your database on the pages under <strong>View</strong>
                    in the navbar. When disabled, each page will default to the list of user-added cocktails and not show options to view others.
                </p>

        <h2 class="mb-4">Upcoming Features</h2>

            <p>This app is still very much in development, here is a peek at what you can expect to see here soon:</p>
            <h4>User Interface Improvements/Prettification</h4>
                <p>
                    Changes to visual identity/color scheme, as well as accessibility improvements, mobile formatting, and other quality of life improvements.
                </p>
            <h4>View Recipe as Page</h4>
                <p>
                    Open a recipe as a page to itself that will enable sharing via its url, and enable other users to save to their database.
                </p>
            <h4>Recipe Tags</h4>
                <p>
                    This will allow tags to be associated with recipes, which will then be a selectable grouping option for pages that list cocktails. This can be used for creating user-defined groups of cocktails,
                    maybe events, menus, subcategories, personal favorites, family member favorites, etc...
                </p>
            <h4>Reports</h4>
                <p>
                    A page detailing various metadata of your database. Things like number of cocktails using each ingredient, Ingredients that would add the most cocktails to what's missing and what their missing ingredients would be, and more.
                </p>
            <h4>Improvements to cocktail views</h4>
                <p>
                    Add sorting options for what's to drink and view all, etc...
                </p>
            <h4>Improving ingredient interface</h4>
                <p>
                    Mainly making stock ingredients user editable and maybe pruning down the stock list a little bit.
                </p>
            <h4>Confirm email step in account creation</h4>
            <p>
                To make sure accounts will be recoverable in case of lost password.
            </p>
    </div>
</div>

{% endblock %}