{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
<div class="center-accordion text-center">
    <h1 class="mb-5">Account: <span class="blue"><strong>{{ current_user.username }}</strong></span></h1>
    <div class="settingspane m-5">
        <h2>Settings</h2>
        <form class="list-group">
            {{ form.csrf_token }}
            <label class="list-group-item form-switch" for="flexSwitchCheckChecked">Enable default cocktails:
              {% if defaults %}
                <input class="form-check-input float-end" name="cocktailswitch" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked hx-post="account" hx-trigger="click">
              {% else %}
                <input class="form-check-input float-end" name="cocktailswitch" type="checkbox" role="switch" id="flexSwitchCheckChecked" hx-post="account" hx-trigger="click">
              {% endif %}
            </label>
          </form>
    </div>
</div>

{% endblock %}