<form action="modify_ingredient" method="POST" class="text-center">
    {{ form.csrf_token }}
    <p class="mb-3">
        This action cannot be undone. Are you sure you want to delete <strong>{{ ingredient }}</strong>?
    </p>
    {{ form.id(type="hidden", value=ingredientId) }}
    <input type="hidden" name="ingredient_delete" value="{{ ingredient }}">
    <button name="deleteconfirmed" data-bs-dismiss="modal" class="btn btn-danger mb-3">DELETE</button>
    <button name="cancel" data-bs-dismiss="modal" class="btn btn-primary mb-3">Cancel</button>
</form>
<script>
</script>