<form action="/modify_cocktail" method="POST" class="text-center">
    {{ form.csrf_token }}
    <p class="mb-3">
        This action cannot be undone. Are you sure you want to delete {{ cocktail }}?
    </p>
    <input type="hidden" name="cocktail_delete" value="{{ cocktail }}">
    <button name="deleteconfirmed" data-bs-dismiss="modal" class="btn btn-danger mt-3 mb-3">DELETE</button>
    <button name="cancel" data-bs-dismiss="modal" class="btn btn-primary mt-3 mb-3">Cancel</button>
</form>
<script>
</script>