{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="text-center mb-5">
  <h1>Welcome to What's to Drink?!</h1>
</div>
<div class="text-center mb-5">
  <p>
    Your personal cocktail database.
  </p>
</div>

  <!-- Link Boxes -->

<div>
  <div class="homeitem" style="margin-inline: auto;" onclick="window.location.href='/about';" style="cursor: pointer;">
    <h2 class="blue mb-3">About</h2>
    <p>
      See an overview of the site and how to use it.
    </p>
  </div>
</div>
<div class="grid-container">
  <div class="indexgrid">
    <div class=" homeitem" onclick="window.location.href='/whatstodrink';" style="cursor: pointer;">
      <h2 class="blue mb-3">What's to Drink?</h1>
      <p>
        What you can make with what you have.
      </p>
    </div>
    <div class="homeitem" onclick="window.location.href='/missingone';" style="cursor: pointer;">
      <h2 class="blue mb-3">What's Missing?</h1>
        <p>What could you make with one more ingredient?</p>
    </div>
    <div class="homeitem" onclick="window.location.href='/manageingredients';" style="cursor: pointer;">
      <h2 class="blue mb-3">Manage Ingredients</h1>
        <p>Add, edit, and update stock of ingredients.</p>
    </div>
    <div class="homeitem" onclick="window.location.href='/viewcocktails';" style="cursor: pointer;">
      <h2 class="blue mb-3">View/Edit Cocktails</h1>
      <p>View and edit every cocktail in your database.</p>
    </div>
    <div class="homeitem" onclick="window.location.href='/addcocktail';" style="cursor: pointer;">
        <h2 class="blue mb-3">Add Cocktail</h1>
        <p>Add a new recipe to your database.</p>

    </div>
    <div class="homeitem" onclick="window.location.href='/addingredient';" style="cursor: pointer;">
      <h2 class="blue mb-3">Add Ingredient</h1>
        <p>Add a new ingredient to your list.</p>
    </div>

    <div>
      <!-- Coffee Button (needs fixing on mobile)-->
      <div class="coffeebutton">
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="jacksonwilliams" data-color="#5F7FFF" data-emoji="🍸️"  data-font="Arial" data-text="Buy me a cocktail" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
      </div>
    </div>
    
    
  </div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}
