<div class="center-text">
    <svg id="spinner" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_0XTQ{transform-origin:center;animation:spinner_y6GP .75s linear infinite}@keyframes spinner_y6GP{100%{transform:rotate(360deg)}}</style><path class="htmx-indicator spinner_0XTQ" d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"/></svg>
</div>
{% if missing_ingredients|length > 1 %}
    <div class="accordion-group">
{% else %}
    <div class="accordion-group" style="column-count: 1">
{% endif %}
    <!-- unique names to not repeat missing_ingredients -->
    {% for ingredient in missing_ingredients %}
        <div class="no-break">
            <h3 class="mb-3 center text-center"><span class="blue">{{ ingredient.name }}</span></h3>
                <div class="accordion mb-3" id="makeabledrinks">
                    {% for cocktail in cocktails %}
                        {% if cocktail.ingredient_name == ingredient.name %}
                            <div class="accordion-item center-accordion cocktail-group">
                                <h2 class="accordion-header" id="id_{{ loop.index0 }}">
                                    <button class="accordion-button collapsed container-fluid" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{ loop.index0 }}" aria-expanded="false" aria-controls="Arr{{ loop.index0 }}">
                                        <div class="row">
                                            <span class="left-text col-lg-auto">
                                                <strong>{{ cocktail.name }}</strong>
                                            </span>
                                            <span class="right-text d-none d-sm-block list-text col">
                                                {{ cocktail.ingredient_list }}
                                            </span>
                                        </div>
                                    </button>
                                </h2>
                                <div id="Arr{{ loop.index0 }}" class="accordion-collapse collapse" aria-labelledby="{{ loop.index0 }}" data-bs-parent="#makeabledrinks">
                                    <div class="accordion-body">
                                        <div class="container mb-3">
                                            <div class="row row-cols-auto mb-3">
                                                <div class="category col-3">Ingredients: </div>
                                                <div class="col-7">
                                                    {% if cocktail.recipe %}
                                                        {% set list = cocktail.recipe.split('\n') %}
                                                        {% for item in list %}
                                                        {{ item }}
                                                        {% if not loop.last %}
                                                        <br/>
                                                        {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>    
                                            {% if cocktail.build %}
                                            <div class="row row-cols-auto mb-3">
                                                <div class="category col-3">Build: </div>
                                                <div class="col-9">
                                                        {% set list = cocktail.build.split('\n') %}
                                                        {% for item in list %}
                                                        {{ item }}
                                                        {% if not loop.last %}
                                                        <br/>
                                                        {% endif %}
                                                        {% endfor %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if cocktail.source %}
                                            <div class="row row-cols-auto mb-3">
                                                <div class="category col-3">Source: </div>
                                                <div class="col">{{ cocktail.source }}</div>
                                            </div>
                                            {% endif %}
                                            {% if cocktail.notes %}
                                                <div class="row row-cols-auto mb-3">
                                                    <div class="category col-3">Notes: </div>
                                                    <div class="col-9">
                                                        {% set list = cocktail.notes.split('\n') %}
                                                        {% for item in list %}
                                                            {{ item }}
                                                            {% if not loop.last %}
                                                            <br/>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %} 
                                        </div>
                                    </div>
                                </div>
                            </div>   
                        {% endif %}
                    {% endfor %}
                </div>
                     
        </div>
        
    {% endfor %}
    </div>