<div class="center-text">
    <svg id="spinner" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_0XTQ{transform-origin:center;animation:spinner_y6GP .75s linear infinite}@keyframes spinner_y6GP{100%{transform:rotate(360deg)}}</style><path class="htmx-indicator spinner_0XTQ" d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"/></svg>
</div>
<div class="center-text center-form">
    
    <select class="mb-5 form-select" name="jump_to" id="jump_to">
        <option value="" disabled selected>--Jump To--</option>
        {% for ingredient in missing_ingredients %}
        {% set sanitized_name = ingredient.name|replace(' ', '_' ) %}
        <option value="{{ ingredient.name }}" data-target="ingredient_{{ sanitized_name }}">{{ ingredient.name }} ({{ ingredient.count }})</option>
        {% endfor %}
    </select>
</div>
{% if missing_ingredients|length > 1 %}
    <div class="accordion-group">
{% else %}
    <div class="accordion-group" style="column-count: 1">
{% endif %}
    {% for ingredient in missing_ingredients %}
    {% set sanitized_name = ingredient.name|replace(' ', '_') %}
        <div class="no-break">
            <h3 class="mb-3 center text-center" id="ingredient_{{ sanitized_name }}"><span class="blue">{{ ingredient.name }}</span></h3>
                <div class="accordion mb-3" id="makeabledrinks">
                    {% for cocktail in cocktails %}
                        {% if cocktail.ingredient_name == ingredient.name %}
                            <div class="accordion-item center-accordion cocktail-group">
                                <h2 class="accordion-header" id="id_{{ loop.index0 }}">
                                    <button class="accordion-button collapsed container-fluid" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{ loop.index0 }}" aria-expanded="false" aria-controls="Arr{{ loop.index0 }}">

                                            <div class="left-text">
                                                <strong>{{ cocktail.name }}</strong>
                                            </div>
                                            <div class="right-text d-none d-sm-block list-text">
                                                {{ cocktail.ingredient_list }}
                                            </div>
                                    
                                    </button>
                                </h2>
                                <div id="Arr{{ loop.index0 }}" class="accordion-collapse collapse" aria-labelledby="{{ loop.index0 }}" data-bs-parent="#makeabledrinks">
                                    <div class="accordion-body">
                                        <div class="container mb-3">
                                            <div class="row row-cols-auto mb-3">
                                                <div class="category col-3">Ingredients: </div>
                                                <div class="col-7">
                                                    {% if cocktail.recipe_parts %}
                                                        {% for part in cocktail.recipe_parts %}
                                                            {{ part[0] }} {% if part[1] %}
                                                                <a class="blue" href="#" hx-get="/viewingredientmodal?ingredient={{ part[1]|urlencode }}" hx-target="#viewModal" data-bs-toggle="modal" data-bs-target="#viewModal">{{ part[1] }}</a>
                                                            {% endif %}
                                                            {% if not loop.last %}
                                                                <br/>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                {% if cocktail.shared != 1 %}
                                                <form>
                                                    {{ form.csrf_token }}
                                                    <!-- button to call modal -->
                                                    <div>
                                                        {{ form.name(type="hidden", value=cocktail.name) }}
                                                    </div>
                                                    <div class="col ms-auto">
                                                        <button name="modify" class="btn btn-outline-primary" type="button" hx-post="/modifycocktail" hx-target="#modifyModal" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#modifyModal" hx-vals="{{ cocktail.name }}">Modify</button>
                                                    </div>
                                                </form>
                                                    
                                                {% endif %}
                                            </div>    
                                            {% if cocktail.build %}
                                            <div class="row row-cols-auto mb-3">
                                                <div class="category col-3">Build: </div>
                                                <div class="col-9">
                                                        {% set list = cocktail.build.split('\n') %}
                                                        {% for item in list %}
                                                        {{ item }}
                                                        {% if not loop.last %}
                                                        <br/>
                                                        {% endif %}
                                                        {% endfor %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if cocktail.source %}
                                            <div class="row row-cols-auto mb-3">
                                                <div class="category col-3">Source: </div>
                                                <div class="col">{{ cocktail.source }}</div>
                                            </div>
                                            {% endif %}
                                            {% if cocktail.notes %}
                                                <div class="row row-cols-auto mb-3">
                                                    <div class="category col-3">Notes: </div>
                                                    <div class="col-9">
                                                        {% set list = cocktail.notes.split('\n') %}
                                                        {% for item in list %}
                                                            {{ item }}
                                                            {% if not loop.last %}
                                                            <br/>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %} 
                                        </div>
                                    </div>
                                </div>
                            </div>   
                        {% endif %}
                    {% endfor %}
                </div>
                     
        </div>
        
    {% endfor %}
    </div>


<!-- Modal for modify cocktail -->
<div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="modifyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modalform"></div>
    </div>
</div>

<!-- Modal for view ingredient -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modal-form"></div>
    </div>
</div>