<form action="/modify_ingredient" class="center-form" method="POST" id="modifyForm">
    <div class="modal-body">
        <div class="mb-3">
            <label for="modifiedIngredientName">Ingredient Name</label>
            <input type="text" name="modifiedIngredientName" id="modifiedIngredientName" class="form-control" value="{{ ingredient[0].name }}" readonly>
        </div>
        <!-- Rename Field -->
        <label for="renameText">Rename Ingredient</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="New name goes here" aria-label="New ingredient name" aria-describedby="renamebutton" name="renameText" id="renameText">
            <button id="renamebutton" data-bs-dismiss="modal" name="renamebutton" class="btn btn-primary" type="submit">Rename</button>
        </div>
        <!-- Short Name Field -->
        <div class="mb-3">
            <label for="renameText">Simplified Name</label>
            <input type="text" class="form-control" placeholder="Simplified Name" name="short_name" id="short_name" value="{{ ingredient[0].short_name}}">
        </div>
        <!-- Type Field -->
        <div class="form-group mb-3">
            <label for="type" class="form-label">Ingredient Type</label>
            <select name="type" id="type" class="form-select" required>
                {% for type in types %}
                    {% if type.type == ingredient[0].type %}
                        <option value="{{ type.type }}" selected>{{ type.type }}</option>
                    {% else %}
                        <option value="{{ type.type }}">{{ type.type }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <!-- Notes Field -->
        <div class="form-group mb-3">
            <label for="notes" class="form-label">Notes</label>
            <textarea autocomplete="off" class="form-control" id="notes" name="notes" placeholder="Recipe if homemade, etc..." rows="4">{{ ingredient[0].notes }}</textarea>    
        </div>
        <br>
        <!-- Submit Button -->
        <div class="mb-3 text-center">
            <button id="submitbutton" data-bs-dismiss="modal" name="submitbutton" class="btn btn-primary" type="submit">Submit Changes</button>
        </div>   
         <!--Delete Button  -->
        <div class="mb-3 text-center">
            <button hx-post="/modify_ingredient" hx-target="#body" id="deletebutton" name="deletebutton" class="btn btn-danger" type="submit">Delete Ingredient</button>
        </div>
</form>