<form action="/modify_ingredient" class="center-form" method="POST" id="modifyForm">
    {{ form.csrf_token }}
    <div class="modal-body">
        <div class="mb-3">
            {{ form.name.label(class="form-control-label") }}
            {{ form.name(class="form-control", value=ingredient.name) }}
        </div>
        <!-- Short Name Field -->
        <div class="me-3 mb-3">
            {{ form.short_name.label(class="form-control-label") }} 
            {{ form.short_name(class="form-control", value=ingredient.short_name)}}
        </div>
        <!-- Type Field -->
        <div class="form-group mb-3">
            {{ form.type.label(class="form-control-label") }}
            <select name="type" id="type" class="form-select" required>
                {% for type in types %}
                    {% if type.type == ingredient.type %}
                        <option value="{{ type.type }}" selected>{{ type.type }}</option>
                    {% else %}
                        <option value="{{ type.type }}">{{ type.type }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div>
            {{ form.id(type="hidden", value=ingredient.id) }}
        </div>
        <!-- Notes Field -->
        <div class="me-3 mb-5">
            {{ form.notes.label(class="form-control-label") }}
            <textarea class="form-control" id="notes" name="notes" rows="3">{{ ingredient.notes }}</textarea>
        </div>
        <!-- Submit Button -->
        <div class="mb-3 text-center">
            <button id="submitbutton" name="submitbutton" class="btn btn-primary" type="submit">Submit Changes</button>
        </div>   
         <!--Delete Button  -->
        <div class="mb-3 text-center">
            <button hx-post="/modify_ingredient" hx-target="#body" id="deletebutton" name="deletebutton" class="btn btn-danger" type="submit">Delete Ingredient</button>
        </div>
</form>