{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" class="center-form needs-validation" method="post" novalidate>
        <div class="mb-3 form-group">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}

                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label mt-3") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirmation.label(class="form-control-label mt-3") }}
                    {% if form.confirmation.errors %}
                        {{ form.confirmation(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirmation.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirmation(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group text-center mt-4 mb-4">
                {{ form.submit(class="btn btn-primary") }}
            </div>
            <!-- <label for="username" class="form-label">Username</label>
            <input autocomplete="off" autofocus class="form-control mb-3" id="username" name="username" placeholder="Username" type="text">
            <label for="password" class="form-label">Password</label>
            <input class="form-control mb-3" id="password" name="password" placeholder="Password" type="password">
            <label for="confirmation" class="form-label">Confirm Password</label>
            <input class="form-control mb-3" id="confirmation" name="confirmation" placeholder="Confirmation" type="password"> -->
        </div>
        <!-- <div class="mb-3 text-center">  
            <button class="btn btn-primary" type="submit">Register</button>
        </div> -->
        <div class="text-center border-top pt-3">
            <small class="text-muted">Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Log In</a></small>
            <!-- <a href="/login" class="btn btn-info" role="button" style="margin-top:10px;">Login</a> -->
        </div>
    </form>
{% endblock %}
{% block javascript %}

{% endblock %}