{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
<form action="/resetpassword" class="center-form needs-validation" method="post" novalidate>
    <div class="form-group mb-3">
        {{ form.csrf_token }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback mb-4">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control mb-4") }}
                {% endif %}                
            </div>
        </fieldset>
        <div class="form-group text-center mb-4">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>
</form>
{% endblock main %}