{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
<form class="center-form needs-validation" novalidate>
    <div class="form-group mb-3" >
        {{ form.csrf_token }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback mb-4">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control mb-4") }}
                {% endif %}                
            </div>
        </fieldset>
        <div class="form-group text-center mb-4">
            {{ form.submit(class="btn btn-primary", **{"hx-post": "/resetpassword", "hx-indicator": "#spinner", "hx-target": "body"}) }}
        </div>
        <div class="center-text">
            <svg id="spinner" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_0XTQ{transform-origin:center;animation:spinner_y6GP .75s linear infinite}@keyframes spinner_y6GP{100%{transform:rotate(360deg)}}</style><path class="htmx-indicator spinner_0XTQ" d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"/></svg>
        </div>
    </div>
</form>
{% endblock main %}