
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" id="modal-form">
    <div class="modal-header center-text">
        <h5 class="modal-title w-100" id="viewModalLabel">{{ ingredient.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="modal-body" id="body">
            <form>
                {{ form.csrf_token }}
                <div class="me-3 mb-3">
                    {{ form.name.label(class="form-control-label") }} 
                    {{ form.name(class="form-control", value=ingredient.name, readonly="true") }}
                </div>
                {% if ingredient.short_name %}
                <div class="me-3 mb-3">
                    {{ form.short_name.label(class="form-control-label") }} 
                    {{ form.short_name(class="form-control", value=ingredient.short_name, readonly="true")}}
                </div>
                {% endif %}
                <div class="me-3 mb-3">
                    {{ form.type.label(class="form-control-label") }}
                    {{ form.type(class="form-control", value=ingredient.type, readonly="true")}}
                </div>
                {% if ingredient.notes %}
                <div class="me-3 mb-3">
                    {{ form.notes.label(class="form-control-label") }}
                    <span class="textarea form-control notes_field" role="textbox" id="modalnotes" name="notes" readonly="true">{{ ingredient.notes }}</textarea>
                </div>
                {% endif %}
                <div class="me-3 mb-5">
                    {% if cocktails %}
                    <div class="mb-2">
                        Cocktails using {{ ingredient.name }}:
                    </div>

                    <ul id="cocktail_list" class="me-3">
                        {% for cocktail in cocktails %}
                        <li class="ms-5">{{ cocktail }}</li>
                        {% endfor %}
                        {% if allcocktails|length > 10 %}
                        <div class="ms-5 blue">
                            and {{ allcocktails|length - 10 }} more...
                        </div>
                        <button class="ms-5 btn btn-small btn-outline-primary" type="button" onclick=loadAllCocktails()>See All</button>
                        {% endif %}
                    </ul>
                    <ul id="long_list" class="me-3" style="display: none;">
                        {% for cocktail in allcocktails %}
                        <li class="ms-5">{{ cocktail }}</li>
                        {% endfor %}
                        <button class="ms-5 btn btn-small btn-outline-primary" type="button" onclick=loadLessCocktails()>See Less</button>
                    </ul>
                    {% endif %}
                </div>
                <div class="text-center mt-4 mb-3">
                    <button hx-post="/modify_ingredient" hx-target="#body" id="modifybutton" name="modifybutton" class="btn btn-primary" type="submit">Modify Ingredient</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function loadAllCocktails() {
        // Hide the cocktail_list
        document.getElementById('cocktail_list').style.display = 'none';
        // Show the long_list
        document.getElementById('long_list').style.display = 'block';
    }
    function loadLessCocktails() {
        document.getElementById('cocktail_list').style.display = 'block';
        // Show the long_list
        document.getElementById('long_list').style.display = 'none';
    }
</script>