
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" id="modal-form">
    <div class="modal-header center-text">
        <h5 class="modal-title w-100" id="viewModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="modal-body" id="body">
            <form>
                <div class="container-bigcenter me-3 mb-3">
                    <div class="category item-left">Simplified Name: </div>
                    <div class="item-center" id="ingredientShort"></div>
                </div>
                <div class="container-bigcenter me-3 mb-3">
                    <div class="category item-left">Type: </div>
                    <div class="item-center" id="ingredientType"></div>
                </div>
                <div class="container-bigcenter me-3 mb-5">
                    <div class="category item-left">Notes: </div>
                    <div class="item-center" id="ingredientNotes"></div>
                </div>
                <input type="hidden" name="name" id="name">
                <input type="hidden" id="type" name="type">
                <input type="hidden" id="short" name="short">
                <input type="hidden" id="notes" name="notes">

                <div class="text-center">
                    <button hx-post="/modify_ingredient" hx-target="#body" id="modifybutton" name="modifybutton" class="btn btn-primary" type="submit">Modify Ingredient</button>
                </div>
            </form>
        </div>
    </div>
</div>