<div class="center-text">
    <svg id="spinner" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_0XTQ{transform-origin:center;animation:spinner_y6GP .75s linear infinite}@keyframes spinner_y6GP{100%{transform:rotate(360deg)}}</style><path class="htmx-indicator spinner_0XTQ" d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"/></svg>
</div>
{% for family in userfamilies %}
<h3 class="mb-3 center text-center">
        <span class="blue">{{ family }}</span>
</h3>
<div class="accordion mb-3" id="userlist">
    {% for cocktail in usercocktails %}
        {% if cocktail.family == family %}
            <div class="accordion-item center-accordion">
                <h2 class="accordion-header" id="id_{{ loop.index0 }}"></h2>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{ loop.index0 }}" aria-expanded="false" aria-controls="Arr{{ loop.index0 }}">
                        <span class ="left-text"><strong>{{ cocktail.name }}</strong></span>
                        <span class="right-text d-none d-sm-block">
                            {{ cocktail.ingredient_list }}
                        </span>
                    </button>
                <div id="Arr{{ loop.index0 }}" class="accordion-collapse collapse" aria-labelledby="{{ loop.index0 }}" data-bs-parent="#makeabledrinks">
                    <div class="accordion-body">
                        <div class="container mb-3">
                            <div class="row row-cols-auto mb-3">
                                <div class="category col-3">Ingredients: </div>
                                <div class="col-7">
                                    {% if cocktail.recipe %}
                                        {% set list = cocktail.recipe.split('\n') %}
                                        {% for item in list %}
                                            {{ item }}
                                            {% if not loop.last %}
                                                <br/>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <!-- Modify Button -->
                                <form>
                                    {{ form.csrf_token }}
                                    <!-- button to call modal -->
                                    <div>
                                        {{ form.name(type="hidden", value=cocktail.name) }}
                                    </div>
                                    <div class="col ms-auto">
                                        <button name="modify" class="btn btn-outline-primary" type="button" hx-post="/modifycocktail" hx-target="#modifyModal" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#modifyModal" hx-vals="{{ cocktail.name }}">Modify</button>
                                        <!-- onclick="populateModal('{{ cocktail.name }}')" -->
                                    </div>
                                </form>
                            </div>
                            {% if cocktail.build %}
                                <div class="row row-cols-auto mb-3">
                                    <div class="category col-3">Build: </div>
                                    <div class="col-8">
                                        {% set list = cocktail.build.split('\n') %}
                                        {% for item in list %}
                                            {{ item }}
                                            {% if not loop.last %}
                                            <br/>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row row-cols-auto mb-3">
                                <div class="category col-3">Source: </div>
                                <div class="col">{{ cocktail.source }}</div>
                            </div>
                            {% if cocktail.notes %}
                                <div class="row row-cols-auto mb-3">
                                    <div class="category col-3">Notes: </div>
                                    <div class="col">
                                        {% set list = cocktail.notes.split('\n') %}
                                        {% for item in list %}
                                            {{ item }}
                                            {% if not loop.last %}
                                            <br/>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %} 
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}

 <!-- Modal for modify cocktail -->
 <div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="modifyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modalform"></div>
    </div>
</div>



<script>
    function populateModal(cocktailName) {
        document.addEventListener('htmx:afterRequest', function(evt) {
            document.getElementById('modifiedCocktailName').value = cocktailName;
        });
    };
   
</script>
