
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" id="modal-form">
    <div class="modal-header center-text">
        <h5 class="modal-title w-100" id="viewModalLabel">{{ ingredient.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="modal-body" id="body">
            <form>
                {{ form.csrf_token }}
                <div class="me-3 mb-3">
                    {{ form.name.label(class="form-control-label") }} 
                    {{ form.name(class="form-control", value=ingredient.name, readonly="true") }}
                </div>
                {% if ingredient.short_name %}
                <div class="me-3 mb-3">
                    {{ form.short_name.label(class="form-control-label") }} 
                    {{ form.short_name(class="form-control", value=ingredient.short_name, readonly="true")}}
                </div>
                {% endif %}
                <div class="me-3 mb-3">
                    {{ form.type.label(class="form-control-label") }}
                    {{ form.type(class="form-control", value=ingredient.type, readonly="true")}}
                </div>
                {% if ingredient.notes %}
                <div class="me-3 mb-5">
                    {{ form.notes.label(class="form-control-label") }}
                    <textarea class="form-control" id="notes" name="notes" readonly="true" onload='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{ ingredient.notes }}</textarea>
                </div>
                {% endif %}

                <div class="text-center mt-4 mb-3">
                    <button hx-post="/modify_ingredient" hx-target="#body" id="modifybutton" name="modifybutton" class="btn btn-primary" type="submit">Modify Ingredient</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

</script>