{% extends "layout.html" %}

{% block title %}
    What's to drink?
{% endblock %}

{% block main %}
    <h1 class="text-center mb-5">What's to Drink?</h1>
    <div class="center text-center explainer p-3 mb-5">
        <p>Cocktails in your database that you can make with what you have on hand.</p>
    </div>
    <!-- if default cocktails turned on-->
    {% if defaults %}
    <!-- Button group -->
        <div class=text-center>
            <div class="btn-group mb-4" id="buttons" role="group" aria-label="Button Group">
                <button hx-get="/whatstodrinkuser" hx-target="#view" hx-indicator="#spinner" type="button" role="group" class="btn btn-outline-primary">My Cocktails</button>
                <button hx-get="/whatstodrinkall"  hx-target="#view" hx-indicator="#spinner" type="button" role="group" class="btn btn-outline-primary active">All Cocktails</button>
            </div>
        </div>

    <!-- Filter Bar -->
        <div>
            <form class="item-center center-form form-group mb-3">
            {{ form2.csrf_token }}
                <label for="search" class="form-label">Filter:</label>
                <div class="input-group mb-3">
                    <button class="btn btn-outline-primary dropdown-toggle" id="filterbutton" type="button" data-bs-toggle="dropdown" aria-expanded="false">Search</button>
                    <input type="hidden" name="filter" id="filter" value="Search">
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Search All</button></li>
                        <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Name</button></li>
                        <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Ingredient</button></li>
                        <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Family</button></li>
                        <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Source</button></li>
                        <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Tags</button></li>
                    </ul>
                    <input class="form-control" type="search" name="q" id="q" placeholder="Type to search" hx-post="/{{ view }}" hx-target="#view"  value="{{ request.args.get('q') or '' }}" hx-trigger="filterChange from:body, search, keyup changed delay:500ms" hx-include="#filter, #current">
                    <!-- Clear search button when a search has been entered -->
                    {% if request.args.get('q') %}
                    <a href="/whatstodrink" type="button" id="clear" class="btn btn-outline-primary">Clear Search</a>
                    {% endif %}
                </div>
            </form>
        </div>

        <!-- Request default page with spinner -->
        <div id="view">
            <!-- spinner -->
            <div class="center-text">
                <svg id="spinner" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_0XTQ{transform-origin:center;animation:spinner_y6GP .75s linear infinite}@keyframes spinner_y6GP{100%{transform:rotate(360deg)}}</style><path class="htmx-indicator spinner_0XTQ" d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"/></svg>
            </div>
        </div>
        <!-- Load whatstodrinkall by default -->
        <script hx-trigger="load" hx-get="/whatstodrinkall" hx-target="#view" hx-indicator="#spinner">
            var qElement = document.getElementById('q');
            var scriptElement = document.querySelector('script[hx-trigger="load"]');
            if (qElement && scriptElement) {
                var hxGet = scriptElement.getAttribute('hx-get');
                console.log('hx-get value:', hxGet);
                qElement.setAttribute('hx-post', hxGet);
                htmx.process(qElement);
            }
        </script>

    {% else %}
    <!-- Filter Bar -->
    <div>
        <form class="item-center center-form form-group mb-3">
        {{ form2.csrf_token }}
            <label for="search" class="form-label">Filter:</label>
            <div class="input-group mb-3">
                <button class="btn btn-outline-primary dropdown-toggle" id="filterbutton" type="button" data-bs-toggle="dropdown" aria-expanded="false">Search</button>
                <input type="hidden" name="filter" id="filter" value="Search">
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Search All</button></li>
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Name</button></li>
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Ingredient</button></li>
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Family</button></li>
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Source</button></li>
                    <!-- <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Tags</button></li> -->
                </ul>
                <input class="form-control" type="search" name="q" id="q" placeholder="Type to search" hx-post="/{{ view }}" hx-target="#view"  value="{{ request.args.get('q') or '' }}" hx-trigger="filterChange from:body, search, keyup changed delay:500ms" hx-include="#filter, #current">
                <!-- Clear search button when a search has been entered -->
                {% if request.args.get('q') %}
                <a href="/whatstodrink" type="button" id="clear" class="btn btn-outline-primary">Clear Search</a>
                {% endif %}
            </div>
        </form>
    </div>

    <!-- Request user page with spinner and no buttons -->
    <div id="view">
    <!-- spinner -->
        <div class="center-text">
            <svg id="spinner" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_0XTQ{transform-origin:center;animation:spinner_y6GP .75s linear infinite}@keyframes spinner_y6GP{100%{transform:rotate(360deg)}}</style><path class="htmx-indicator spinner_0XTQ" d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"/></svg>
        </div>
    </div>
    <script hx-trigger="load" hx-get="/whatstodrinkuser" hx-target="#view" hx-indicator="#spinner">
        var qElement = document.getElementById('q');
        var sriptElement = document.querySelector('script[hx-trigger="load"]');
        if (qElement && scriptElement) {
            var hxGet = scriptElement.getAttribute('hx-get');
            qElement.setAttribute('hx-post', hxGet);
            htmx.process(qElement);
        }
    </script>

    {% endif %}
{% endblock %}

{% block javascript %}
<script>

    // change active class on click
    var button_group = document.getElementById("buttons");
    var btns = button_group.getElementsByClassName("btn");
    // loop through buttons to assign active class
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
            // update htmx route
            var qElement = document.getElementById('q');
            var hxGet = this.getAttribute('hx-get');
            qElement.setAttribute('hx-post', hxGet);
        });
    };
    // Update filter button text
    function showFilter(item) {
        document.getElementById("filterbutton").innerHTML = item.innerHTML;
        document.getElementById("filter").value = item.innerHTML;
        document.getElementById('q').focus();
        const filterChange = new Event('filterChange', { 'bubbles': true });
        htmx.trigger(htmx.find('body'),'filterChange');
    }
</script>


{% endblock %}

