{% extends "layout.html" %}

{% block title %}
    What's to drink?
{% endblock %}

{% block main %}
    <h1 class="text-center mb-5">What's to Drink?</h1>
    <div class="text-center explainer p-3 mb-5 d-none d-sm-block">
        <p>Cocktails in your database that you can make with what you have on hand.</p>
    </div>
    <!-- if default cocktails turned on-->
    {% if defaults %}
    <form class="item-center center-form form-group mb-3" method="POST" id="qform">
    {{ form2.csrf_token }}
    <!-- Button group -->
        <div class=text-center>
            <div class="btn-group mb-4" id="buttons" role="group" aria-label="Button Group">
                <button hx-post="/whatstodrinkuser" hx-target="#view" hx-indicator="#spinner" type="button" role="group" hx-include="#filter, #q" class="btn btn-outline-primary">My Cocktails</button>
                <button hx-post="/whatstodrinkall"  hx-target="#view" hx-indicator="#spinner" type="button" role="group" hx-include="#filter, #q" class="btn btn-outline-primary active">All Cocktails</button>
            </div>
        </div>

    <!-- Filter Bar -->
        <div>
            <label for="search" class="form-label">Filter:</label>
            <div class="input-group mb-3">
                <button class="btn btn-outline-primary dropdown-toggle" id="filterbutton" type="button" data-bs-toggle="dropdown" aria-expanded="false">Search</button>
                <input type="hidden" name="filter" id="filter" value="Search">
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Search All</button></li>
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Name</button></li>
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Ingredient</button></li>
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Family</button></li>
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Source</button></li>
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Notes</button></li>
                    <!-- <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Tags</button></li> -->
                </ul>
                <input class="form-control" type="search" name="q" id="q" placeholder="Type to search" hx-target="#view" hx-trigger="filterChange from:body, input keyup changed delay:500ms" hx-include="#filter">
            </div>
        </div>
    </form>

        <!-- Request default page with spinner -->
        <div id="view">
            <!-- spinner -->
            <div class="center-text">
                <svg id="spinner" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_0XTQ{transform-origin:center;animation:spinner_y6GP .75s linear infinite}@keyframes spinner_y6GP{100%{transform:rotate(360deg)}}</style><path class="htmx-indicator spinner_0XTQ" d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"/></svg>
            </div>
        </div>
        <!-- Load whatstodrinkall by default -->
        <script hx-trigger="load" hx-get="/whatstodrinkall" hx-target="#view" hx-indicator="#spinner">
            var qElement = document.getElementById('q');
            var scriptElement = document.querySelector('script[hx-trigger="load"]');
            if (qElement && scriptElement) {
                var hxGet = scriptElement.getAttribute('hx-get');
                qElement.setAttribute('hx-post', hxGet);
            }
        </script>

    {% else %}
    <!-- Filter Bar -->
    <div>
        <form class="item-center center-form form-group mb-3" id="qform">
        {{ form2.csrf_token }}
            <label for="search" class="form-label">Filter:</label>
            <div class="input-group mb-3">
                <button class="btn btn-outline-primary dropdown-toggle" id="filterbutton" type="button" data-bs-toggle="dropdown" aria-expanded="false">Search</button>
                <input type="hidden" name="filter" id="filter" value="Search">
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Search All</button></li>
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Name</button></li>
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Ingredient</button></li>
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Family</button></li>
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Source</button></li>
                    <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Notes</button></li>
                    <!-- <li><button class="dropdown-item" type="button" onclick="showFilter(this)">Tags</button></li> -->
                </ul>
                <input class="form-control" type="search" name="q" id="q" placeholder="Type to search" hx-target="#view" hx-trigger="filterChange from:body, input keyup changed delay:500ms" hx-include="#filter">
            </div>
        </form>
    </div>

    <!-- Request user page with spinner and no buttons -->
    <div id="view">
    <!-- spinner -->
        <div class="center-text">
            <svg id="spinner" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_0XTQ{transform-origin:center;animation:spinner_y6GP .75s linear infinite}@keyframes spinner_y6GP{100%{transform:rotate(360deg)}}</style><path class="htmx-indicator spinner_0XTQ" d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"/></svg>
        </div>
    </div>
    <!-- Load whatstodrinkuser by default -->
    <script hx-trigger="load" hx-get="/whatstodrinkuser" hx-target="#view" hx-indicator="#spinner">
        var qElement = document.getElementById('q');
        var scriptElement = document.querySelector('script[hx-trigger="load"]');
        if (qElement && scriptElement) {
            var hxGet = scriptElement.getAttribute('hx-get');
            qElement.setAttribute('hx-post', hxGet);
        }
    </script>

    {% endif %}
{% endblock %}

{% block javascript %}
<script>
    // Prevent search from reloading
    document.getElementById('qform').addEventListener('submit', function(event) {
        event.preventDefault();
    });
    // change active class on click
    var buttonGroup = document.getElementById("buttons");
    if (buttonGroup) {
        var btns = buttonGroup.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                if (current.length > 0) {
                    current[0].classList.remove("active");
                }
                this.classList.add("active");
                // update get route of search bar
                var qElement = document.getElementById('q');
                var hxPost = this.getAttribute('hx-post');
                qElement.setAttribute('hx-post', hxPost);
                htmx.process(qElement);
            });
        };
    }
    // Update filter button text
    function showFilter(item) {
        document.getElementById("filterbutton").innerHTML = item.innerHTML;
        document.getElementById("filter").value = item.innerHTML;
        const filterChange = new Event('filterChange', { 'bubbles': true });
        htmx.trigger(htmx.find('body'),'filterChange');
        document.getElementById('q').focus();
    }
</script>


{% endblock %}

