Flask==3.0.3
Flask_Login==0.6.3
Flask_Mail==0.9.1
flask_session==0.8.0
flask_sqlalchemy==3.1.1
flask_wtf==1.2.1
PyJWT==2.8.0
SQLAlchemy==2.0.23
Werkzeug==3.0.2
WTForms==3.1.2
python-dotenv
email_validator