.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.center-wide {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.center-xwide {
  margin: auto;
  width: 70%;
  padding: 10px;
}
.center-form {
  margin: auto;
  max-width: 600px;
}
.center-accordion {
  margin: auto;
  max-width: 800px;
}

nav .navbar-brand
{
    font-size: xx-large;
}


nav .navbar-brand .blue
{
    color: #537fbe;
}
.homeitem {
  box-sizing: border-box;
  border: solid;
  border-color: #537fbe;
  border-width: 2px;
  padding: 20px;
  margin: 30px;
  max-width: 400px;
  min-width: 400px;
  height: 150px;
  border-radius: 20px;
}
.settingspane {
  box-sizing: border-box;
  border: solid;
  border-color: #537fbe;
  border-width: 2px;
  padding: 20px;
  margin: 30px;
  margin-top: 50px;
}
@media screen and (max-width: 895px) {
  .homeitem {
    margin:20px;
  }
}
.explainer {
  box-sizing: border-box;
  border: solid;
  border-color: #537fbe;
  border-width: 2px;
  margin: auto;
  padding: 20px;
  max-width: 500px;
}
.hometext {
  width: calc(100% - 60px);
  margin-left: 40;
  text-align: center;
}
.homeitem a {
  color: #537fbe;
  text-decoration: none;
}

table {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 350px;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
    
}

input[type=checkbox] {
  transform: scale(1.5);
  margin-left: 1rem;
}
/* buy me a coffee button */
.bmc-btn {
  transform: scale(.8);
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.form-group .control-label{
  text-align: left !important;
}
.no-break {
  break-inside: avoid-column;
}
.table-group {
  column-count: 6;
  column-width: 400px;
}
.accordion-group {
  column-count: 2;
  column-width: 800px;
  column-gap: 50px;
  max-width: 1700px;
  margin: 0 auto;
}

.blue {
  color: #537fbe;
}
.modal-dialog {
  max-width: 650px;
  margin: 2rem auto;
}

/* Accordion */
.accordion-button .row .left-text {
  white-space: nowrap; 
  /* To prevent name wrapping */
}
.accordion-button .row .right-text small{
  white-space: break-word;
  hyphens: auto;  
}
.accordion-button {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  gap: 10px; 
}
.text-pair {
  display: flex;
  justify-content: space-between;
}
.right-text {
  text-align: right;
}
.left-text {
  text-align: left;
}
.center-text {
  text-align: center;
}
.category {
  text-align: left;
  font-weight: bold;
}
.table-text {
  display: inline-block;
  text-align: left;
}
.containerOLD {
display: grid;
grid-template-areas: "left center right";
grid-template-columns: 30% 40% 30%;
column-gap: 20px;
}
.container-bigcenter {
display: grid;
grid-template-areas: "left right";
grid-template-columns: 30% 70%;
column-gap: 20px;
}
.item-left {
grid-column-start: 1;
grid-column-end: 2;
align-self: start;
grid-row: 1/2;

}
.item-center {
grid-column-start: 2;
grid-column-end: 3;
align-self: start;
grid-row: 1/2;
}
.item-right {
grid-column-start: 3;
grid-column-end: 4;
align-self: start;
justify-self: end;
grid-row: 1/2;
}
.table-container {
display: grid;
grid-template-areas: left center center;
grid-template-columns: 30% 40% 30%;
column-gap: 30px;
}
.table-item-center {
grid-area: center;
justify-self: stretch;
grid-row: 1/2;  
}
td.clickable {
cursor: pointer;
}
svg {
pointer-events: none;
}

ul, li {
margin: 0;
padding: 0;
}
.handle {
  cursor: move;
  cursor: -webkit-grabbing;
}
.list-text {
  font-size: .9em;
  text-align: right;
}

.notes_field {
  white-space: pre-line;
}
/* Flashes Message Animation */
#flashes {
  -webkit-animation: cssAnimation 5s forwards; 
  animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}