.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.center-form {
  margin: auto;
  max-width: 600px;
}
.center-accordion {
  margin: auto;
  max-width: 800px;
}
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

nav .navbar-brand
{
    font-size: xx-large;
}
nav .navbar-brand .blue
{
    color: #537fbe;
}
.homeitem {
  box-sizing: border-box;
  border: solid;
  border-color: #537fbe;
  border-width: 2px;
  padding: 20px;
  max-width: 350px;
  min-width: 350px;
  height: 135px;
  border-radius: 20px;
}
.indexgrid {
  display: grid;
  max-width: 750px;
  grid-template-columns: 
    repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}
.grid-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align to the top */
  padding: 2rem 1rem; /* Adjust padding to prevent overflow */
}
/* @media screen and (max-width: 1200px) {
  .accordion-group {
    column-width: 600px;
  }
} */
.offset-col-spaced {
  margin-left: 1em;
}
.offset-col {
  margin-left: 1em;
}
@media screen and (max-width: 768px) { /* medium and larger screens */
  .indexgrid {
    grid-template-columns: 1fr; /* Single column on small screens */
    gap: 1.5rem;
  }
  .btn-blurb {
    display: none;
  }
  .homeitem {
    height: 75px;
    min-width: 295px;
    max-width: 295px;
  }
  .grid-container {
    padding: 1.5rem 1rem;
  }
}
@media screen and (max-width: 575px) { /* mobile vertical screens */
  .btn-group button {
    font-size: .8em;
    height: 38px;
  }
  .offset-col-spaced {
    margin-top: 7px;
  }
  .order-xs-1 { order: 1; }
  .order-xs-2 { order: 3; }
  .order-xs-3 { order: 2; }
}
.settingspane {
  box-sizing: border-box;
  border: solid;
  border-color: #537fbe;
  border-width: 2px;
  padding: 20px;
  margin-inline: auto;
  margin-top: 50px;
  border-radius: 20px;
  max-width: 450px;
}
.settings-item {
  margin-inline: 1rem;
}

.explainer {
  box-sizing: border-box;
  border: solid;
  border-color: #537fbe;
  border-width: 2px;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
}
.hometext {
  width: calc(100% - 60px);
  margin-left: 40;
  text-align: center;
}
.homeitem a {
  color: #537fbe;
  text-decoration: none;
}

table {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 350px;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
    
}

input[type=checkbox] {
  transform: scale(1.5);
  margin-left: 1rem;
}
/* buy me a coffee button */
.bmc-btn {
  transform: scale(.8);
  margin-top: 2rem;
  margin-left: -1.5rem;
}

.form-group .control-label{
  text-align: left !important;
}
.no-break {
  break-inside: avoid-column;
}
.table-group {
  column-count: 6;
  column-width: 400px;
}
.accordion-group {
  column-count: 2;
  column-width: 700px;
  column-gap: 50px;
  max-width: 1700px;
  margin: 0 auto;
}

.blue {
  color: #537fbe;
}
.modal-dialog {
  max-width: 650px;
  margin: 2rem auto;
}

.coffeebutton {
  align-self: flex;
}
/* Accordion */
.accordion-button .row .left-text {
  white-space: nowrap; 
  /* To prevent name wrapping */
}
.accordion-button .row .right-text small{
  white-space: break-word;
  hyphens: auto;  
}
.accordion-button {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  gap: 10px; 
}
.right-text {
  text-align: right;
}
.left-text {
  text-align: left;
}
.center-text {
  text-align: center;
}
.category {
  text-align: left;
  font-weight: bold;
  padding-left: 0;
}

.item-center {
grid-column-start: 2;
grid-column-end: 3;
align-self: start;
grid-row: 1/2;
}


td.clickable {
cursor: pointer;
}
svg {
pointer-events: none;
}

ul, li {
margin: 0;
padding: 0;
}
.handle {
  cursor: move;
  cursor: -webkit-grabbing;
}
.list-text {
  font-size: .9em;
  text-align: right;
}

.notes_field {
  white-space: pre-line;
}
/* Flashes Message Animation */
#flashes {
  -webkit-animation: cssAnimation 5s forwards; 
  animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
.error-spill {
  width: 80%;
  max-width: 500px;
}