<div class="text-center mb-3">
    <h3 class="mb-3">Change Recipe</h3>
</div>
<form>
    <div class="mb-3">
        <p>Ingredients</p>
        <table class="table table-hover" id="ingredients" name="ingredients">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Ingredient</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for amount in amounts %}
                    <tr>
                        <td><input class="form-control" id="amt_{{ loop.index0 }}" name="amt_{{ loop.index0 }}" value="{{ amount.amount }}"></td>
                        {% for ingredient in ingredients %}
                        {% if ingredient.id == amount.ingredient_id %}
                        <td><input class="form-control" id="ing_{{ loop.index0 }}" name="ing_{{ loop.index0 }}" value="{{ ingredient.name|capitalize }}"></td>
                        <td class="button-cell text-right">
                            <button class="btn btn-primary" type="button">Remove</button>
                        </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
     
         
    </div>
   
    <div class="form-group mb-3">
        <label for="build" class="form-label">Build Instructions</label>
        <textarea autocomplete="off" class="form-control" id="build" name="build" rows="4">{{ recipe[0]['build'] }}</textarea>
    </div>
    <div class="form-group mb-3">
        <label for="source" class="form-label">Source</label>
        <input autocomplete="off" class="form-control" id="source" name="source" value="{{ recipe[0]['source'] }}" type="text">
    </div>
    <div class="mb-3 form-group">
        <label for="family" class="form-label">Cocktail Family</label>
        <select name="family" class="form-select" id="family">
            {% for familydict in families %}
                {% set family = familydict['family'] %}
                {% if family == recipe[0]['family'] %}
                    <option value="{{ family }}" selected>{{ family }}</option>
                {% else %}
                    <option value="{{ family }}">{{ family }}</option>
                {% endif %}
            {% endfor %}
            
        </select>
    </div>
    <div class="mb-3 text-center">
        <button class="btn btn-primary btn-lg" type="submit">Submit Changes</button>
    </div>
</form>

