{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <!-- TODO -->
    <h2>Portfolio</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Stocks</th>
                            <th>Shares</th>
                            <th>Current Price</th>
                            <th>Total Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                       
                        </table>
                        </tbody>
                        <br>
                </table>
{% endblock %}
