{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <!-- TODO: make query for all cocktails -->
    <!-- imported from flask: cocktails, ingredients, amounts, families-->
    {% for family in families %}
    <h3 class="mb-3">{{ family|capitalize }}</h3>
    <div class="accordion" id="makeabledrinks">
        {% for cocktail in cocktails %}
        {% if cocktail.family == family %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="{{ cocktail.name }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{ cocktail.name }}" aria-expanded="false" aria-controls="Arr{{ cocktail.name }}">
                <span class ="left-text"><strong>{{ cocktail.name|capitalize }}</strong></span>
                <span class="right-text" style="text-align: right;">
                    {% set cocktail_ingredients = [] %}
                    {% for ingredient in ingredients %}
                        {% for amount in amounts %}
                            {% if amount.cocktail_id == cocktail.id and amount.ingredient_id == ingredient.id %}
                                {% set _ = cocktail_ingredients.append(ingredient.name|capitalize) %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {{ cocktail_ingredients|join(', ') }}
                </span>
            </button>
          </h2>
          <div id="Arr{{ cocktail.name }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#{{ cocktail.name }}">
            <div class="accordion-body">
              <div class="text-pair">
                <div class="category">Ingredients: </div>
                <div class="center-text">
                {% for amount in amounts %}
                  {% if amount.cocktail_id == cocktail.id %}
                    {{ amount.amount }}
                      {% for ingredient in ingredients %}
                        {% if ingredient.id == amount.ingredient_id %}
                          {{ ingredient.name }}
                        {% endif %}
                      {% endfor %}<br>
                  {% endif %}
                {% endfor %}
                </div>
              </div>
                <div class="category">Build: </div>
                <div class="center-text">{{ cocktail.build }}</div>

                <div class="category">Source: </div>
                <div class="center-text">{{ cocktail.source }}</div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block javascript %}
{% endblock %}