{% extends "layout.html" %}

{% block title %}
    Manage Ingredients
{% endblock %}

{% block main %}


    <form action="/manageingredients" method="post">
        <div class="table-group">    
        {% for type in types %}
            <div class="no-break">
                <h4>{{ type.type|capitalize }}</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="left-text">Ingredient</th>
                            <th class="right-text">Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in ingredients %}
                            <tr>
                                {% if ingredient.type == type.type %}
                                    <td class="left-text">{{ ingredient.name }}</td>
                                    {% if ingredient.stock == "on" %}
                                    <td class="right-text">
                                        <input type="checkbox" id="stock_{{ ingredient.name }}" name="stock_{{ ingredient.name }}" checked>
                                        <input type="hidden" id="id_{{ ingredient.name }}" name="id_{{ ingredient.name }}" value="{{ ingredient['ingredient_id'] }}">
                                        <input type="hidden" id="src_{{ ingredient.name }}" name="src_{{ ingredient.name }}" value="{{ ingredient.source }}">
                                    </td>
                                    {% else %}
                                    <td class="right-text">
                                        <input type="checkbox" id="stock_{{ ingredient.name }}" name="stock_{{ ingredient.name }}" unchecked>
                                        <input type="hidden" id="id_{{ ingredient.name }}" name="id_{{ ingredient.name }}" value="{{ ingredient['ingredient_id'] }}">
                                        <input type="hidden" id="src_{{ ingredient.name }}" name="src_{{ ingredient.name }}" value="{{ ingredient.source }}">
                                    </td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
{% endblock %}
