{% extends "layout.html" %}

{% block title %}
    Manage Ingredients
{% endblock %}

{% block main %}
    <!-- TODO -->
    <form action="/manageingredients" method="post">    
        {% for type in types %}
            <h3>{{ type.type|capitalize }}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Ingredient</th>
                            <th>Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in ingredients %}
                            <tr>
                                {% if ingredient.type == type.type %}
                                    <td>{{ ingredient.name }}</td>
                                    {% if ingredient.stock == "on" %}
                                    <td>
                                        <input type="checkbox" id="stock_{{ ingredient.name }}" name="stock_{{ ingredient.name }}" checked>
                                        <input type="hidden" id="id_{{ ingredient.name }}" name="id_{{ ingredient.name }}" value="{{ ingredient.id }}">
                                    </td>
                                    {% else %}
                                    <td>
                                        <input type="checkbox" id="stock_{{ ingredient.name }}" name="stock_{{ ingredient.name }}" unchecked>
                                        <input type="hidden" id="id_{{ ingredient.name }}" name="id_{{ ingredient.name }}" value="{{ ingredient.id }}">
                                    </td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
{% endblock %}
