{% for family in userfamilies %}
<h3 class="mb-3 center text-center"><span class="blue">{{ family }}</span></h3>
<div class="accordion mb-3" id="userlist">
    {% for cocktail in usercocktails %}
        {% if cocktail.family == family %}
            <div class="accordion-item center-wide cocktail-group">
                <h2 class="accordion-header" id="id_{{ loop.index0 }}"></h2>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{ loop.index0 }}" aria-expanded="false" aria-controls="Arr{{ loop.index0 }}">
                        <span class ="left-text"><strong>{{ cocktail.name|title }}</strong></span>
                        <span class="right-text">
                            {% set cocktail_ingredients = [] %}
                            {% for ingredient in ingredients %}
                                {% for amount in amounts %}
                                    {% if amount.cocktail_id == cocktail.id and amount.ingredient_id == ingredient.id %}
                                        {% set _ = cocktail_ingredients.append(ingredient.name|escape|capitalize) %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {{ cocktail_ingredients|join(', ') }}
                        </span>
                    </button>
                <div id="Arr{{ loop.index0 }}" class="accordion-collapse collapse" aria-labelledby="{{ loop.index0 }}" data-bs-parent="#makeabledrinks">
                    <div class="accordion-body">
                        <div class="container mb-3">
                            <div class="category item-left">Ingredients: </div>
                            <div class="item-center">
                            {% for amount in amounts %}
                                {% if amount.cocktail_id == cocktail.id %}
                                    {{ amount.amount|escape }}
                                        {% for ingredient in ingredients %}
                                            {% if ingredient.id == amount.ingredient_id %}
                                                {{ ingredient.name|escape|capitalize }}
                                            {% endif %}
                                        {% endfor %}<br>
                                {% endif %}
                            {% endfor %}
                            </div>
                            <div class="item-right text-right">
                                <button class="btn btn-outline-primary me-4" type="button" onclick="makeModal();populateModal('{{ cocktail.name }}')">Modify</button></td>
                            </div>
                        </div>
                        <div class="container mb-3">
                            <div class="category item-left">Build: </div>
                            <div class="item-center">{{ cocktail.build|escape }}</div>
                        </div>
                        <div class="container mb-3">
                            <div class="category item-left">Source: </div>
                            <div class="item-center">{{ cocktail.source|escape }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}

<div id="modifyModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content" id="modalform">
        <span class="close">&times;</span>
            <div class="modal-body" id="body">
                <form action="/modify_cocktail" method="POST" id="modifyForm">
                    <div class="modal-body">
                        <div class="mb-4">
                            <label for="modifiedCocktailName">Cocktail Name</label>
                            <input type="text" name="modifiedCocktailName" class="form-control" id="modifiedCocktailName" readonly>
                        </div>
                        <label for="renameText">Rename Cocktail</label>
                        <div class="input-group mb-5">
                            <input type="text" class="form-control" placeholder="New name goes here" aria-label="New cocktail name" aria-describedby="renamebutton" name="renameText" id="renameText">
                            <button id="renamebutton" name="renamebutton" class="btn btn-primary" type="submit">Rename Cocktail</button>

                        </div>
                        <br>
                        <div class="mb-3 text-center">
                            <button hx-post="/modify_cocktail" hx-target="#body" id="changerecipe" name="changerecipe" class="btn btn-primary mb-3" type="submit">Change Recipe</button><br>
                            <button hx-post="/modify_cocktail" hx-target="#body" id="deletebutton" name="deletebutton" class="btn btn-primary" type="submit">Delete Cocktail</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
// Add modal for new ingredient
var modal = document.getElementById("modifyModal");
var span = document.getElementsByClassName("close")[0];
// pull up modal when add new ingredient is selected
function makeModal() {
    modal.style.display = "block";

    span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
   
}
function populateModal(cocktailName) {
    document.getElementById('modifiedCocktailName').value = cocktailName;
}
</script>
