{% extends "layout.html" %}

{% block title %}
    View Cocktails
{% endblock %}

{% block main %}
    <!-- TODO: make query for all cocktails -->
    <!-- imported from flask: cocktails, ingredients, amounts, families-->
    <div class="text-center">
        <div class="btn-group mb-4" id="buttons" role="group" aria-label="Button Group">
            <button hx-get="/viewuser" hx-target="#view" type="button" role="group" class="btn btn-outline-primary">My Cocktails</button>
            <a href="/viewcocktails"  type="button" role="group" class="btn btn-outline-primary active">All Cocktails</a>
            <button hx-get="/viewcommon" hx-target="#view" type="button" role="group" class="btn btn-outline-primary">Common Cocktails</button>
        </div>
    </div>
    <div id="view">
        {% for family in allfamilies %}
            <h3 class="mb-3 center text-center"><span class="blue">{{ family }}</span></h3>
            <div class="accordion mb-3" id="userlist">
                {% for cocktail in allcocktails %}
                    {% if cocktail.family == family %}
                        <div class="accordion-item center-wide cocktail-group">
                            <h2 class="accordion-header" id="id_{{ loop.index0 }}"></h2>
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Arr{{ loop.index0 }}" aria-expanded="false" aria-controls="Arr{{ loop.index0 }}">
                                    <span class ="left-text"><strong>{{ cocktail.name|title }}</strong></span>
                                    <span class="right-text">
                                        {% set cocktail_ingredients = [] %}
                                        {% for ingredient in ingredients %}
                                            {% for amount in amounts %}
                                                {% if amount.cocktail_id == cocktail.id and amount.ingredient_id == ingredient.id %}
                                                    {% if ingredient.short_name %}
                                                        {% set _ = cocktail_ingredients.append(ingredient.short_name|title) %}
                                                    {% else %}
                                                        {% set _ = cocktail_ingredients.append(ingredient.name|title) %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        {{ cocktail_ingredients|join(', ') }}
                                    </span>
                                </button>
                            <div id="Arr{{ loop.index0 }}" class="accordion-collapse collapse" aria-labelledby="{{ loop.index0 }}" data-bs-parent="#makeabledrinks">
                                <div class="accordion-body">
                                    <div class="container mb-3">
                                        <div class="category item-left">Ingredients: </div>
                                        <div class="item-center">
                                        {% for amount in amounts %}
                                            {% if amount.cocktail_id == cocktail.id %}
                                                {{ amount.amount|escape }}
                                                    {% for ingredient in ingredients %}
                                                        {% if ingredient.id == amount.ingredient_id %}
                                                            {{ ingredient.name|escape|capitalize }}
                                                        {% endif %}
                                                    {% endfor %}<br>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                        {% if cocktail.csource == "user" %}
                                        <div class="item-right text-right">
                                            <button class="btn btn-outline-primary me-4" type="button" data-bs-toggle="modal" data-bs-target="#modifyModal" onclick="populateModal('{{ cocktail.name }}')">Modify</button></td>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="container mb-3">
                                        <div class="category item-left">Build: </div>
                                        <div class="item-center">{{ cocktail.build|escape }}</div>
                                    </div>
                                    <div class="container mb-3">
                                        <div class="category item-left">Source: </div>
                                        <div class="item-center">{{ cocktail.source|escape }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

        <div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" id="modalform">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modifyModalLabel">Modify Cocktail</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="body">
                        <div class="modal-body">
                            <form action="/modify_cocktail" method="POST" id="modifyForm">
                                <div class="mb-4">
                                    <label for="modifiedCocktailName">Cocktail Name</label>
                                    <input type="text" name="modifiedCocktailName" class="form-control" id="modifiedCocktailName" readonly>
                                </div>
                                <label for="renameText">Rename Cocktail</label>
                                <div class="input-group mb-5">
                                    <input type="text" class="form-control" placeholder="New name goes here" aria-label="New cocktail name" aria-describedby="renamebutton" name="renameText" id="renameText">
                                    <button id="renamebutton" name="renamebutton" class="btn btn-primary" type="submit">Rename</button>

                                </div>
                                <br>
                                <div class="mb-3 text-center">
                                    <button hx-post="/modify_cocktail" hx-target="#body" id="changerecipe" name="changerecipe" class="btn btn-primary mb-3" type="submit">Change Recipe</button><br>
                                    <button hx-post="/modify_cocktail" hx-target="#body" id="deletebutton" name="deletebutton" class="btn btn-primary" type="submit">Delete Cocktail</button>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

<script>
// change active class on click
var button_group = document.getElementById("buttons");
var btns = button_group.getElementsByClassName("btn");
// loop through buttons to assign active class
for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
    });
}

function populateModal(cocktailName) {
    document.getElementById('modifiedCocktailName').value = cocktailName;
}
</script>
    
{% endblock %}
 